<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>New message</h2>
    <form method="POST" action="/new">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
      <label for="message">Message</label>
      <textarea name="message" id="message" required></textarea>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
